[submodule "usini-sensors"]
	path = usini-sensors
	url = https://github.com/usini/usini_kicad_sensors
[submodule "tg9541-modules"]
	path = tg9541-modules
	url = https://github.com/TG9541/kicad-footprints
[submodule "Glpyh-C3"]
	path = Glpyh-C3
	url = https://github.com/pcbcupid/PCBCUPID-Glyph-C3
[submodule "PCBCUPID-SYS-FTP-STP"]
	path = PCBCUPID-SYS-FTP-STP
	url = https://github.com/pcbcupid/PCBCUPID-SYS-FTP-STP
